/**
 * Optionele standaard instellingen voor de Webcomponents 
 */

/* ActionList */

ul.actionlist {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.actionlist li {
	margin: 0;
}
ul.actionlist li img.icon{
	margin-top: 2px;
	margin-bottom: 2px;
}
/* Tabbladen */
ul.Tabs {
	list-style-type:none;
	margin: 0;
	padding: 0;
	margin-bottom: 16px;
}
ul.Tabs li {
	float:left;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #bbbbbb;
}

ul.Tabs li a {
	padding: 2px 6px 0 6px;
	background: #eeeeee;
	border: 1px solid #bbbbbb;
	color: #555555;
	text-decoration: none;
	font-weight: bold;
	margin-right:8px;
}
ul.Tabs li a.selected {
	padding-top: 4px;
	background: white;
	border-bottom: 1px solid white;
}

