<div class="DialogBox">
	<img style="float:left" src="<?php echo $icon; ?>" alt="" />
	<h1 class="DialogBoxContent"><?php echo $title; ?></h1>
	<p  class="DialogBoxContent"><?php echo $question; ?></p>
	<form action="<?php echo $form_action; ?>" method="post">
	<ul class='DialogBoxContent answers'>
<?php 
foreach ($answers as $answer) {
	echo '<li><button type="submit" name="'.$identifier.'" value="'.$answer['value'].'">';
	if ($answer['icon']) {
		echo '<img class="icon" src="'.WEBROOT.'images/icons/'.$answer['icon'].'" alt="'.$answer['label'].'" />';
	}
	echo $answer['label'].'</button></li>';
}
?>
	</ul>
	</form>
</div>
