<table class="interactive overview" cellpadding="0" cellspacing="0"{$table_parameters}>
	<thead>
		<tr>
{foreach key=index item=column from=$columns}
<th{$column_parameters.$index}{$header_parameters.$index}>{$headers.$column}</th>
{/foreach}
		</tr>
	</thead>
{if $footnote}
	<tfoot>
		<tr>
			<td colspan={$columns|@count}>{$footnote}</td>
		</tr>
	</tfoot>
{/if}
	<tbody>
{foreach key=identifier item=row from=$rows}{counter assign=counter}{*
*}<tr class="row_{if $counter is even}even{else}odd{/if}" onClick="document.location.href='{$url_prefix}{$identifier}{$url_suffix}'">
{foreach item=column from=$columns}
			<td{$column_parameters.$column}>{$row.$column}</td>
{/foreach}
		</tr>
{/foreach}
	</tbody>
</table>
{* IE6 hover hack *}
<!--[if lt IE 7]> {javascript /js/ie6_interactive_table_hover_fix.js} <![endif]-->
