<!-- SiteCatalyst code version: H.9.
Copyright 1997-2007 Omniture, Inc. More info available at
http://www.omniture.com -->

<script type="text/javascript" src="/js/omniture.js"></script>
<script type="text/javascript"><!--

s.channel = "{$channel}";
s.pageName = "{$pageName}";
{if $products}
s.products = "{$products}";
{/if}
{foreach from=$dynamic_properties key=name item=value }
s.{$name} = "{$value}";
{/foreach}
s.server = "{$server}";
{if $dynamic_properties.pageType == 'errorPage'}
s.pageName = document.location;
{/if}

/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
var s_code=s.t();if(s_code)document.write(s_code);

//--></script>
<!--/DO NOT REMOVE/-->
<!-- End SiteCatalyst code version: H.9. -->
