<span class="page_browser">
<?php
if ($first) {
	echo '<a href="'.$first.'">|&lt;</a>&nbsp;&nbsp;';
}
if ($previous) {
	echo '<a href="'.$previous.'">&lt;&lt;</a>&nbsp;&nbsp;';
}
foreach ($pages as $page => $options) {
	if ($options['selected']) {
		echo '<strong>['.$page.']</strong>';
	} else {
		echo '<a href="'.$options['url'].'">'.$page.'</a>';
	}
	echo '&nbsp;&nbsp;';
}
if ($next) {
	echo '&nbsp;&nbsp;<a href="'.$next.'">&gt;&gt;</a>';
}
if ($last) {
	echo '&nbsp;&nbsp;<a href="'.$last.'">&gt;|</a>';
}
?>
</span>
